<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8"/>
<style>
table.head, table.foot { width: 100%; }
td.head-rtitle, td.foot-os { text-align: right; }
td.head-vol { text-align: center; }
table.foot td { width: 50%; }
table.head td { width: 33%; }
div.spacer { margin: 1em 0; }
</style>
<title>
DOCKER(1)</title>
</head>
<body>
<div class="mandoc">
<table class="head">
<tbody>
<tr>
<td class="head-ltitle">
DOCKER(1)</td>
<td class="head-vol">
JUNE 2014</td>
<td class="head-rtitle">
DOCKER(1)</td>
</tr>
</tbody>
</table>
<div style="height: 1.00em;">
&#160;</div>
<div style="height: 1.00em;">
&#160;</div>
<div class="section">
<h1>NAME</h1> docker-inspect - Return low-level information on a container or image<div style="height: 1.00em;">
&#160;</div>
<div style="height: 1.00em;">
&#160;</div>
</div>
<div class="section">
<h1>SYNOPSIS</h1>  <b>docker inspect</b> [ <b>--help</b>] [ <b>-f</b>|<b>--format</b>[=<i>FORMAT</i>]] [ <b>-s</b>|<b>--size</b>[=<i>false</i>]] [ <b>--type</b>=<i>container</i>|<i>image</i>] CONTAINER|IMAGE [CONTAINER|IMAGE...]<div style="height: 1.00em;">
&#160;</div>
<div style="height: 1.00em;">
&#160;</div>
</div>
<div class="section">
<h1>DESCRIPTION</h1> This displays all the information available in Docker for a given container or image. By default, this will render all results in a JSON array. If a format is specified, the given template will be executed for each result.<div style="height: 1.00em;">
&#160;</div>
<div style="height: 1.00em;">
&#160;</div>
</div>
<div class="section">
<h1>OPTIONS</h1>  <b>--help</b><br/>
    Print usage statement<div style="height: 1.00em;">
&#160;</div>
<div class="spacer">
</div>
<b>-f</b>, <b>--format</b>=&quot;&quot;<br/>
    Format the output using the given Go template.<div style="height: 1.00em;">
&#160;</div>
<div class="spacer">
</div>
<b>-s</b>, <b>--size</b>=false<br/>
    Display total file sizes if the type is container.<div style="height: 1.00em;">
&#160;</div>
<div class="spacer">
</div>
<b>--type</b>=<i>container</i>|<i>image</i><br/>
    Return JSON for specified type, permissible values are &quot;image&quot; or &quot;container&quot;<div style="height: 1.00em;">
&#160;</div>
<div style="height: 1.00em;">
&#160;</div>
</div>
<div class="section">
<h1>EXAMPLES</h1> Get information about an image when image name conflicts with the container name, e.g. both image and container are named rhel7:<div style="height: 1.00em;">
&#160;</div>
<div class="spacer">
</div>
<div style="margin-left: 5.00ex;">
<div style="height: 1.00em;">
&#160;</div>
<br/>
$ docker inspect --type=image rhel7<br/>
[<br/>
{<br/>
 &quot;Id&quot;: &quot;fe01a428b9d9de35d29531e9994157978e8c48fa693e1bf1d221dffbbb67b170&quot;,<br/>
 &quot;Parent&quot;: &quot;10acc31def5d6f249b548e01e8ffbaccfd61af0240c17315a7ad393d022c5ca2&quot;,<br/>
 ....<br/>
}<br/>
]<div class="spacer">
</div>
<br/>
</div>
<div style="height: 1.00em;">
&#160;</div>
</div>
<div class="section">
<h1>Getting information on a container</h1> To get information on a container use its ID or instance name:<div style="height: 1.00em;">
&#160;</div>
<div class="spacer">
</div>
<div style="margin-left: 5.00ex;">
<div style="height: 1.00em;">
&#160;</div>
<br/>
$ docker inspect d2cc496561d6<br/>
[{<br/>
&quot;Id&quot;: &quot;d2cc496561d6d520cbc0236b4ba88c362c446a7619992123f11c809cded25b47&quot;,<br/>
&quot;Created&quot;: &quot;2015-06-08T16:18:02.505155285Z&quot;,<br/>
&quot;Path&quot;: &quot;bash&quot;,<br/>
&quot;Args&quot;: [],<br/>
&quot;State&quot;: {<br/>
    &quot;Running&quot;: false,<br/>
    &quot;Paused&quot;: false,<br/>
    &quot;Restarting&quot;: false,<br/>
    &quot;OOMKilled&quot;: false,<br/>
    &quot;Dead&quot;: false,<br/>
    &quot;Pid&quot;: 0,<br/>
    &quot;ExitCode&quot;: 0,<br/>
    &quot;Error&quot;: &quot;&quot;,<br/>
    &quot;StartedAt&quot;: &quot;2015-06-08T16:18:03.643865954Z&quot;,<br/>
    &quot;FinishedAt&quot;: &quot;2015-06-08T16:57:06.448552862Z&quot;<br/>
},<br/>
&quot;Image&quot;: &quot;ded7cd95e059788f2586a51c275a4f151653779d6a7f4dad77c2bd34601d94e4&quot;,<br/>
&quot;NetworkSettings&quot;: {<br/>
    &quot;Bridge&quot;: &quot;&quot;,<br/>
    &quot;EndpointID&quot;: &quot;&quot;,<br/>
    &quot;Gateway&quot;: &quot;&quot;,<br/>
    &quot;GlobalIPv6Address&quot;: &quot;&quot;,<br/>
    &quot;GlobalIPv6PrefixLen&quot;: 0,<br/>
    &quot;HairpinMode&quot;: false,<br/>
    &quot;IPAddress&quot;: &quot;&quot;,<br/>
    &quot;IPPrefixLen&quot;: 0,<br/>
    &quot;IPv6Gateway&quot;: &quot;&quot;,<br/>
    &quot;LinkLocalIPv6Address&quot;: &quot;&quot;,<br/>
    &quot;LinkLocalIPv6PrefixLen&quot;: 0,<br/>
    &quot;MacAddress&quot;: &quot;&quot;,<br/>
    &quot;NetworkID&quot;: &quot;&quot;,<br/>
    &quot;Ports&quot;: null,<br/>
    &quot;SandboxKey&quot;: &quot;&quot;,<br/>
    &quot;SecondaryIPAddresses&quot;: null,<br/>
    &quot;SecondaryIPv6Addresses&quot;: null<br/>
},<br/>
&quot;ResolvConfPath&quot;: &quot;/var/lib/docker/containers/d2cc496561d6d520cbc0236b4ba88c362c446a7619992123f11c809cded25b47/resolv.conf&quot;,<br/>
&quot;HostnamePath&quot;: &quot;/var/lib/docker/containers/d2cc496561d6d520cbc0236b4ba88c362c446a7619992123f11c809cded25b47/hostname&quot;,<br/>
&quot;HostsPath&quot;: &quot;/var/lib/docker/containers/d2cc496561d6d520cbc0236b4ba88c362c446a7619992123f11c809cded25b47/hosts&quot;,<br/>
&quot;LogPath&quot;: &quot;/var/lib/docker/containers/d2cc496561d6d520cbc0236b4ba88c362c446a7619992123f11c809cded25b47/d2cc496561d6d520cbc0236b4ba88c362c446a7619992123f11c809cded25b47-json.log&quot;,<br/>
&quot;Name&quot;: &quot;/adoring_wozniak&quot;,<br/>
&quot;RestartCount&quot;: 0,<br/>
&quot;Driver&quot;: &quot;devicemapper&quot;,<br/>
&quot;ExecDriver&quot;: &quot;native-0.2&quot;,<br/>
&quot;MountLabel&quot;: &quot;&quot;,<br/>
&quot;ProcessLabel&quot;: &quot;&quot;,<br/>
&quot;Mounts&quot;: [<br/>
  {<br/>
    &quot;Source&quot;: &quot;/data&quot;,<br/>
    &quot;Destination&quot;: &quot;/data&quot;,<br/>
    &quot;Mode&quot;: &quot;ro,Z&quot;,<br/>
    &quot;RW&quot;: false<br/>
  }<br/>
],<br/>
&quot;AppArmorProfile&quot;: &quot;&quot;,<br/>
&quot;ExecIDs&quot;: null,<br/>
&quot;HostConfig&quot;: {<br/>
    &quot;Binds&quot;: null,<br/>
    &quot;ContainerIDFile&quot;: &quot;&quot;,<br/>
    &quot;LxcConf&quot;: [],<br/>
    &quot;Memory&quot;: 0,<br/>
    &quot;MemorySwap&quot;: 0,<br/>
    &quot;CpuShares&quot;: 0,<br/>
    &quot;CpuPeriod&quot;: 0,<br/>
    &quot;CpusetCpus&quot;: &quot;&quot;,<br/>
    &quot;CpusetMems&quot;: &quot;&quot;,<br/>
    &quot;CpuQuota&quot;: 0,<br/>
    &quot;BlkioWeight&quot;: 0,<br/>
    &quot;OomKillDisable&quot;: false,<br/>
    &quot;Privileged&quot;: false,<br/>
    &quot;PortBindings&quot;: {},<br/>
    &quot;Links&quot;: null,<br/>
    &quot;PublishAllPorts&quot;: false,<br/>
    &quot;Dns&quot;: null,<br/>
    &quot;DnsSearch&quot;: null,<br/>
    &quot;DnsOptions&quot;: null,<br/>
    &quot;ExtraHosts&quot;: null,<br/>
    &quot;VolumesFrom&quot;: null,<br/>
    &quot;Devices&quot;: [],<br/>
    &quot;NetworkMode&quot;: &quot;bridge&quot;,<br/>
    &quot;IpcMode&quot;: &quot;&quot;,<br/>
    &quot;PidMode&quot;: &quot;&quot;,<br/>
    &quot;UTSMode&quot;: &quot;&quot;,<br/>
    &quot;CapAdd&quot;: null,<br/>
    &quot;CapDrop&quot;: null,<br/>
    &quot;RestartPolicy&quot;: {<br/>
        &quot;Name&quot;: &quot;no&quot;,<br/>
        &quot;MaximumRetryCount&quot;: 0<br/>
    },<br/>
    &quot;SecurityOpt&quot;: null,<br/>
    &quot;ReadonlyRootfs&quot;: false,<br/>
    &quot;Ulimits&quot;: null,<br/>
    &quot;LogConfig&quot;: {<br/>
        &quot;Type&quot;: &quot;json-file&quot;,<br/>
        &quot;Config&quot;: {}<br/>
    },<br/>
    &quot;CgroupParent&quot;: &quot;&quot;<br/>
},<br/>
&quot;GraphDriver&quot;: {<br/>
    &quot;Name&quot;: &quot;devicemapper&quot;,<br/>
    &quot;Data&quot;: {<br/>
        &quot;DeviceId&quot;: &quot;5&quot;,<br/>
        &quot;DeviceName&quot;: &quot;docker-253:1-2763198-d2cc496561d6d520cbc0236b4ba88c362c446a7619992123f11c809cded25b47&quot;,<br/>
        &quot;DeviceSize&quot;: &quot;171798691840&quot;<br/>
    }<br/>
},<br/>
&quot;Config&quot;: {<br/>
    &quot;Hostname&quot;: &quot;d2cc496561d6&quot;,<br/>
    &quot;Domainname&quot;: &quot;&quot;,<br/>
    &quot;User&quot;: &quot;&quot;,<br/>
    &quot;AttachStdin&quot;: true,<br/>
    &quot;AttachStdout&quot;: true,<br/>
    &quot;AttachStderr&quot;: true,<br/>
    &quot;ExposedPorts&quot;: null,<br/>
    &quot;Tty&quot;: true,<br/>
    &quot;OpenStdin&quot;: true,<br/>
    &quot;StdinOnce&quot;: true,<br/>
    &quot;Env&quot;: null,<br/>
    &quot;Cmd&quot;: [<br/>
        &quot;bash&quot;<br/>
    ],<br/>
    &quot;Image&quot;: &quot;fedora&quot;,<br/>
    &quot;Volumes&quot;: null,<br/>
    &quot;VolumeDriver&quot;: &quot;&quot;,<br/>
    &quot;WorkingDir&quot;: &quot;&quot;,<br/>
    &quot;Entrypoint&quot;: null,<br/>
    &quot;NetworkDisabled&quot;: false,<br/>
    &quot;MacAddress&quot;: &quot;&quot;,<br/>
    &quot;OnBuild&quot;: null,<br/>
    &quot;Labels&quot;: {},<br/>
    &quot;Memory&quot;: 0,<br/>
    &quot;MemorySwap&quot;: 0,<br/>
    &quot;CpuShares&quot;: 0,<br/>
    &quot;Cpuset&quot;: &quot;&quot;,<br/>
    &quot;StopSignal&quot;: &quot;SIGTERM&quot;<br/>
}<br/>
}<br/>
]<div class="spacer">
</div>
<br/>
</div>
<div style="height: 1.00em;">
&#160;</div>
</div>
<div class="section">
<h1>Getting the IP address of a container instance</h1> To get the IP address of a container use:<div style="height: 1.00em;">
&#160;</div>
<div class="spacer">
</div>
<div style="margin-left: 5.00ex;">
<div style="height: 1.00em;">
&#160;</div>
<br/>
$ docker inspect '{{range .NetworkSettings.Networks}}{{.IPAddress}}{{end}}' d2cc496561d6<br/>
172.17.0.2<div class="spacer">
</div>
<br/>
</div>
<div style="height: 1.00em;">
&#160;</div>
</div>
<div class="section">
<h1>Listing all port bindings</h1> One can loop over arrays and maps in the results to produce simple text output:<div style="height: 1.00em;">
&#160;</div>
<div class="spacer">
</div>
<div style="margin-left: 5.00ex;">
<div style="height: 1.00em;">
&#160;</div>
<br/>
$ docker inspect --format='{{range $p, $conf := .NetworkSettings.Ports}} \<br/>
  {{$p}} -&gt; {{(index $conf 0).HostPort}} {{end}}' d2cc496561d6<br/>
  80/tcp -&gt; 80<div class="spacer">
</div>
<br/>
</div>
<div style="height: 1.00em;">
&#160;</div>
<div class="spacer">
</div>
You can get more information about how to write a Go template from:<div style="height: 1.00em;">
&#160;</div>
&#10216;https://golang.org/pkg/text/template/&#10217;.<div style="height: 1.00em;">
&#160;</div>
</div>
<div class="section">
<h1>Getting size information on an container</h1><div style="margin-left: 5.00ex;">
<div style="height: 1.00em;">
&#160;</div>
<br/>
$ docker inspect -s d2cc496561d6<br/>
[<br/>
{<br/>
&quot;SizeRw&quot;: 0,<br/>
&quot;SizeRootFs&quot;: 972,<br/>
}<br/>
]<div class="spacer">
</div>
<br/>
</div>
<div style="height: 1.00em;">
&#160;</div>
</div>
<div class="section">
<h1>Getting information on an image</h1> Use an image's ID or name (e.g., repository/name[:tag]) to get information about the image:<div style="height: 1.00em;">
&#160;</div>
<div class="spacer">
</div>
<div style="margin-left: 5.00ex;">
<div style="height: 1.00em;">
&#160;</div>
<br/>
$ docker inspect ded7cd95e059<br/>
[{<br/>
&quot;Id&quot;: &quot;ded7cd95e059788f2586a51c275a4f151653779d6a7f4dad77c2bd34601d94e4&quot;,<br/>
&quot;Parent&quot;: &quot;48ecf305d2cf7046c1f5f8fcbcd4994403173441d4a7f125b1bb0ceead9de731&quot;,<br/>
&quot;Comment&quot;: &quot;&quot;,<br/>
&quot;Created&quot;: &quot;2015-05-27T16:58:22.937503085Z&quot;,<br/>
&quot;Container&quot;: &quot;76cf7f67d83a7a047454b33007d03e32a8f474ad332c3a03c94537edd22b312b&quot;,<br/>
&quot;ContainerConfig&quot;: {<br/>
    &quot;Hostname&quot;: &quot;76cf7f67d83a&quot;,<br/>
    &quot;Domainname&quot;: &quot;&quot;,<br/>
    &quot;User&quot;: &quot;&quot;,<br/>
    &quot;AttachStdin&quot;: false,<br/>
    &quot;AttachStdout&quot;: false,<br/>
    &quot;AttachStderr&quot;: false,<br/>
    &quot;ExposedPorts&quot;: null,<br/>
    &quot;Tty&quot;: false,<br/>
    &quot;OpenStdin&quot;: false,<br/>
    &quot;StdinOnce&quot;: false,<br/>
    &quot;Env&quot;: null,<br/>
    &quot;Cmd&quot;: [<br/>
        &quot;/bin/sh&quot;,<br/>
        &quot;-c&quot;,<br/>
        &quot;#(nop) ADD file:4be46382bcf2b095fcb9fe8334206b584eff60bb3fad8178cbd97697fcb2ea83 in /&quot;<br/>
    ],<br/>
    &quot;Image&quot;: &quot;48ecf305d2cf7046c1f5f8fcbcd4994403173441d4a7f125b1bb0ceead9de731&quot;,<br/>
    &quot;Volumes&quot;: null,<br/>
    &quot;VolumeDriver&quot;: &quot;&quot;,<br/>
    &quot;WorkingDir&quot;: &quot;&quot;,<br/>
    &quot;Entrypoint&quot;: null,<br/>
    &quot;NetworkDisabled&quot;: false,<br/>
    &quot;MacAddress&quot;: &quot;&quot;,<br/>
    &quot;OnBuild&quot;: null,<br/>
    &quot;Labels&quot;: {}<br/>
},<br/>
&quot;DockerVersion&quot;: &quot;1.6.0&quot;,<br/>
&quot;Author&quot;: &quot;Lokesh Mandvekar \u003clsm5@fedoraproject.org\u003e&quot;,<br/>
&quot;Config&quot;: {<br/>
    &quot;Hostname&quot;: &quot;76cf7f67d83a&quot;,<br/>
    &quot;Domainname&quot;: &quot;&quot;,<br/>
    &quot;User&quot;: &quot;&quot;,<br/>
    &quot;AttachStdin&quot;: false,<br/>
    &quot;AttachStdout&quot;: false,<br/>
    &quot;AttachStderr&quot;: false,<br/>
    &quot;ExposedPorts&quot;: null,<br/>
    &quot;Tty&quot;: false,<br/>
    &quot;OpenStdin&quot;: false,<br/>
    &quot;StdinOnce&quot;: false,<br/>
    &quot;Env&quot;: null,<br/>
    &quot;Cmd&quot;: null,<br/>
    &quot;Image&quot;: &quot;48ecf305d2cf7046c1f5f8fcbcd4994403173441d4a7f125b1bb0ceead9de731&quot;,<br/>
    &quot;Volumes&quot;: null,<br/>
    &quot;VolumeDriver&quot;: &quot;&quot;,<br/>
    &quot;WorkingDir&quot;: &quot;&quot;,<br/>
    &quot;Entrypoint&quot;: null,<br/>
    &quot;NetworkDisabled&quot;: false,<br/>
    &quot;MacAddress&quot;: &quot;&quot;,<br/>
    &quot;OnBuild&quot;: null,<br/>
    &quot;Labels&quot;: {}<br/>
},<br/>
&quot;Architecture&quot;: &quot;amd64&quot;,<br/>
&quot;Os&quot;: &quot;linux&quot;,<br/>
&quot;Size&quot;: 186507296,<br/>
&quot;VirtualSize&quot;: 186507296,<br/>
&quot;GraphDriver&quot;: {<br/>
    &quot;Name&quot;: &quot;devicemapper&quot;,<br/>
    &quot;Data&quot;: {<br/>
        &quot;DeviceId&quot;: &quot;3&quot;,<br/>
        &quot;DeviceName&quot;: &quot;docker-253:1-2763198-ded7cd95e059788f2586a51c275a4f151653779d6a7f4dad77c2bd34601d94e4&quot;,<br/>
        &quot;DeviceSize&quot;: &quot;171798691840&quot;<br/>
    }<br/>
}<br/>
}<br/>
]<div class="spacer">
</div>
<br/>
</div>
<div style="height: 1.00em;">
&#160;</div>
<div style="height: 1.00em;">
&#160;</div>
</div>
<div class="section">
<h1>HISTORY</h1> April 2014, originally compiled by William Henry (whenry at redhat dot com) based on docker.com source material and internal work. June 2014, updated by Sven Dowideit &#10216;SvenDowideit@home.org.au&#10217; April 2015, updated by Qiang Huang &#10216;h.huangqiang@huawei.com&#10217; October 2015, updated by Sally O'Malley &#10216;somalley@redhat.com&#10217;</div>
<table class="foot">
<tr>
<td class="foot-date">
 Docker User Manuals</td>
<td class="foot-os">
Docker Community</td>
</tr>
</table>
</div>
</body>
</html>

