/**
 * Div
 */

div.code div.syntaxhighlighter {
    margin: 0 !important;
    width: 100% !important;
    border: 1px solid #cccccc !important;
    border-top: 0px !important;
    max-height: 350px;
    overflow-y: scroll;
    white-space: nowrap;
}

.syntaxhighlighter .line .content {
    border-left: 0 !important;
}

div.code {
    background-color: rgba(51, 51, 51, 100);
    color: white;
    border-radius: 4px;
    border: 1px solid rgba(51, 51, 51, 100);
    padding: 4px;
    margin-bottom: 10px;
    white-space: nowrap;
    overflow: auto;
    font-family: monospace;
}

/**
* Span
*/
span.coder {
  color: #ef2929;
}

.codeu {
  color: #4e9a06;
}

/**
* Pre
*/

pre {
  border-radius: 4px;
  padding: 4px;
  margin-bottom: 10px;
  background-color: rgba(51, 51, 51, 100);
  font-family: monospace;
  color: #fff;
}

/**
* Code
*/
code {
    background-color: rgba(51, 51, 51, 100);
    color: white;
    border-radius: 4px;
    border: 1px solid rgba(51, 51, 51, 100);
    padding: 4px;
    margin-bottom: 10px;
    white-space: nowrap;
    overflow: auto;
    font-family: monospace;
}

a code {
  color: #8ff;
  background-color: rgba(51, 51, 51, 100);
  border-radius: 4px;
  border: 1px solid rgba(51, 51, 51, 100);
  padding: 4px;
  margin-bottom: 10px;
  white-space: nowrap;
  overflow: auto;
  font-family: monospace;
}

code.language-sh {
  background-color: inherit;
  color: white;
  border: none;
}

code.language-bash {
  background-color: inherit;
  color: white;
  border: none;
}

code.language-matlab {
  background-color: inherit;
  color: white;
  border: none;
}
