/**
 * Div
 */

div.code div.syntaxhighlighter {
  margin:           0 !important;
  width:            100% !important;
  border:           1px solid #cccccc !important;
  border-top:       0px !important;
  max-height:       350px;
  overflow-y:       scroll;
  white-space:      nowrap;
  border-radius:    3px;
  box-shadow:       0 1px 3px #757575, 0 1px 2px #5b5b5b;
}

.syntaxhighlighter .line .content {
  border-left: 0 !important;
}

.code {
  background-color: rgba(51, 51, 51, 100);
  border-radius:    3px;
  border:           1px solid rgba(51, 51, 51, 100);
  padding:          3px;
  color:            rgb(255,255,255);
  box-shadow:       0 1px 3px #757575, 0 1px 2px #5b5b5b;
  margin-bottom:    8px;
  white-space:      nowrap;
  overflow:         auto;
  font-family:      monospace;
}

.console {
  background-color: rgba(51, 51, 51, 100);
  border-radius:    3px;
  border:           1px solid rgba(51, 51, 51, 100);
  box-shadow:       0 1px 3px #757575, 0 1px 2px #5b5b5b;
  padding:          3px;
  color:            rgb(255,255,255);
  margin-bottom:    8px;
  white-space:      nowrap;
  overflow:         auto;
  font-family:      monospace;
}

/**
* Span
*/
span.coder abbr {
  color: #ef2929;
  border-bottom: 0px;
}

span.codeu abbr {
  color: #4e9a06;
  border-bottom: 0px;
}

span.codeb {
  color: #729fcf;
  border-bottom: 0px;
}

/**
* Pre
*/

//pre {
//  border-radius: 3px;
//  padding: 3px;
//  margin-bottom: 8px;
//  background-color: rgba(51, 51, 51, 100);
//  font-family: monospace;
//  color: #fff;
//  box-shadow: 0 1px 3px #757575, 0 1px 2px #5b5b5b;
//}

/**
* Code
*/
code {
  background-color: rgba(220,220,220,100);
  border-radius:    3px;
  border:           1px solid rgba(51, 51, 51, 100);
  box-shadow:       0 1px 3px #757575, 0 1px 2px #5b5b5b;
  padding:          3px;
  color:            rgb(51,51,51);
  margin-bottom:    8px;
  white-space:      nowrap;
  overflow:         auto;
  font-family:      monospace;
}

a code {
  color:              #11f;
}

code.language-sh {
  background-color:   inherit;
  color:              white;
  border:             none;
}

code.language-bash {
  background-color:   inherit;
  color:              white;
  border:             none;
}

code.language-matlab {
  background-color:   inherit;
  color:              white;
  border:             none;
}

div.language-json.highlighter-rouge {
  $bg-color:          rgba(220,220,220,100);
  background-color:   $bg-color;
  padding:            0px;
  border-radius:      3px;
  border:             1px solid rgba(51, 51, 51, 100);
  box-shadow:         0 1px 3px #757575, 0 1px 2px #5b5b5b;
  padding:            3px;
  overflow:           auto;
  font-family:        monospace;

  pre.highlight {
    color:            rgba(0,0,0,100);
    margin-bottom:    0px;
    background-color: $bg-color;
  }
}
