/**
 * Page content
 */
.page-content {
  padding: $spacing-unit 0;
}

.page-heading {
  font-size: 20px;
}

.tag {
  -moz-border-radius:    6px;
  -moz-box-shadow:       0 2px 0 #fff,0 0 0 4px rgba(0,255,240,0.5) inset;
  -webkit-border-radius: 6px;
  -webkit-box-shadow:    0 2px 0 #fff,0 0 0 4px rgba(0,255,240,0.5) inset;
  background-color:      rgba(255,200,200,0.8);
  border:                1px solid #ccc;
  border-radius:         6px;
  box-shadow:            0 2px 0 #fff,0 0 0 4px rgba(0,255,240,0.5) inset;
  color:                 #000;
  display:               inline-block;
  font-family:           Arial,Helvetica,sans-serif;
  font-size:             16px;
  line-height:           1.4;
  margin:                0 .1em;
  padding:               .1em .6em;
}
