table {
  display:          block;
}

table.green, td.green, tr.green {
  background-color: rgb(128, 255, 128);
  border:           2px solid #000 !important;
  border-collapse:  collapse !important;
  border-radius:    4px;
  border-top:       1px solid #000;
  padding:          8px;
  vertical-align:   middle;
}

table.cyan, td.cyan, tr.cyan {
  background-color: #00cccc;
  border:           2px solid #000 !important;
  border-collapse:  collapse !important;
  border-radius:    4px;
  border-top:       1px solid #000;
  color:            rgba(0,0,0,100);
  font-size:        12px;
  font-weight:      bold;
  padding:          8px;
  vertical-align:   middle;
}

table.blue, td.blue, tr.blue {
  background-color: rgb(128,255,255);
  border:           2px solid #000 !important;
  border-collapse:  collapse !important;
  border-radius:    4px;
  border-top:       1px solid #000;
  padding:          8px;
  vertical-align:   middle;
}

table.note, td.note, tr.note {
  background-color: #ffa0a0;
  border:           2px solid #000 !important;
  border-collapse:  collapse !important;
  border-radius:    4px;
  border-top:       1px solid #000;
  padding:          8px;
  vertical-align:   middle;
}

td.title {
  border-collapse: collapse !important;
  padding: 8px;
  vertical-align: middle;
  border-top: 1px solid #000;
  border: 2px solid #000 !important;
  border-radius: 4px;
  background-color: rgb(128, 255, 128);
  font-weight: bold;
}

td.title1 {
  border-collapse: collapse !important;
  padding: 8px;
  vertical-align: middle;
  border-top: 1px solid #000;
  border: 2px solid #000 !important;
  border-radius: 4px;
  background-color: rgb(255, 128, 128);
  font-weight: bold;
  white-space: nowrap;
}

td.title2 {
  border-collapse: collapse !important;
  padding: 8px;
  vertical-align: middle;
  border-top: 1px solid #000;
  border: 2px solid #000 !important;
  border-radius: 4px;
  background-color: rgb(128, 128, 255);
  font-weight: bold;
  white-space: nowrap;
  font-size: 20px;
}

td.no, td.No {
  background-color: red;
  color: white;
  text-align: center;
  vertical-align: middle;
  border-top: 1px solid #000;
  border: 2px solid #000 !important;
  border-radius: 4px;
  padding: 8px;
}

td.Interpreted {
  background-color: blue;
  color: white;
  text-align: center;
  vertical-align: middle;
  border-top: 1px solid #000;
  border: 2px solid #000 !important;
  border-radius: 4px;
  padding: 8px;
}

td.Mixed, td.mixed {
  background-color: rgb(255,255,0);
  color: black;
  text-align: center;
  vertical-align: middle;
  border-top: 1px solid #000;
  border: 2px solid #000 !important;
  border-radius: 4px;
  padding: 8px;
}

td.yes, td.Yes, td.Compiled {
  background-color: #080;
  color: white;
  text-align: center;
  vertical-align: middle;
  border-top: 1px solid #000;
  border: 2px solid #000 !important;
  border-radius: 4px;
  padding: 8px;
}

td.yes a {
  font-weight: bold;
  color: #9ff;
}

div.title {
  font-size: 24px;
  font-weight: bold;
  padding: 4px;
}
