  <div class="posts" style="float:left; background-color: rgb(205,205,255);">
    <h1>My <a href="https://atom.io" link="_blank">Atom</a> Packages</h1>

    <ul class="post-list">
      {% for row in site.data.github.atom.body %}
        <li class="data-meta">
          <a href = "https://github.com/fusion809/{{ row.repo }}/forks" link="_blank"><img src="https://img.shields.io/github/forks/fusion809/{{ row.repo }}.svg" style="float:right;"></a><a href = "https://github.com/fusion809/{{ row.repo}}/stargazers" link="_blank"><img src="https://img.shields.io/github/stars/fusion809/{{ row.repo }}.svg" style="float:right;"></a><a href = "https://github.com/fusion809/{{ row.repo}}/watchers" link="_blank"><img src="https://img.shields.io/github/watchers/fusion809/{{ row.repo }}.svg" style="float:right;"></a><a class="post-link" href="https://github.com/fusion809/{{ row.repo }}" link="_blank">{% if row.name %}{{ row.name }}{% else %}{{ row.repo }}{% endif %}{% if row.maintained == "n" %} (UNMAINTAINED){% endif %}</a>
          <span style="font-weight: normal;"><b><u>Description</u></b>: {{ row.description | markdownify }}</span>
          <span style="font-weight: normal;"><b><u>Atom Package URL:</u></b> <a href="https://atom.io/packages/{% if row.name %}{{ row.name }}{% else %}{{ row.repo }}{% endif %}" link="_blank">https://atom.io/packages/{% if row.name %}{{ row.name }}{% else %}{{ row.repo }}{% endif %}.</a></span>
        </li>
      {% endfor %}
    </ul>
  </div>

  <div class="posts" style="float:right; background-color: rgb(185,185,255);">
    <h1>My Other GitHub Repositories</h1>

    <h2><a href="http://appimage.org/" link="_blank">AppImage</a></h2>

    <ul class="post-list">
      {% for row in site.data.github.appimage.body %}
        <li class="data-meta">
          <a href = "https://github.com/fusion809/{{ row.repo }}/forks" link="_blank"><img src="https://img.shields.io/github/forks/fusion809/{{ row.repo }}.svg" style="float:right;"></a><a href = "https://github.com/fusion809/{{ row.repo}}/stargazers" link="_blank"><img src="https://img.shields.io/github/stars/fusion809/{{ row.repo }}.svg" style="float:right;"></a><a href = "https://github.com/fusion809/{{ row.repo}}/watchers" link="_blank"><img src="https://img.shields.io/github/watchers/fusion809/{{ row.repo }}.svg" style="float:right;"></a><a class="post-link" href="https://github.com/fusion809/{{ row.repo }}" link="_blank">{{ row.repo }}{% if row.maintained == "n" %} (UNMAINTAINED){% endif %}</a>
          <span style="font-weight: normal;"><b><u>Description</u></b>: {{ row.description | markdownify }}</span>
          {% if row.permalink %}<span style="font-weight: normal;"><b><u>The Hornery Link</u></b>: <a href="{{ row.permalink | prepend: site.baseurl }}" link="_blank">{{ row.permalink }}</a>.</span>{% endif %}
        </li>
      {% endfor %}
    </ul>

    <h2>Configuration</h2>

    <ul class="post-list">
      {% for row in site.data.github.configuration.body %}
        <li class="data-meta">
          <a href = "https://github.com/fusion809/{{ row.repo }}/forks" link="_blank"><img src="https://img.shields.io/github/forks/fusion809/{{ row.repo }}.svg" style="float:right;"></a><a href = "https://github.com/fusion809/{{ row.repo}}/stargazers" link="_blank"><img src="https://img.shields.io/github/stars/fusion809/{{ row.repo }}.svg" style="float:right;"></a><a href = "https://github.com/fusion809/{{ row.repo}}/watchers" link="_blank"><img src="https://img.shields.io/github/watchers/fusion809/{{ row.repo }}.svg" style="float:right;"></a><a class="post-link" href="https://github.com/fusion809/{{ row.repo }}" link="_blank">{{ row.repo }}{% if row.maintained == "n" %} (UNMAINTAINED){% endif %}</a>
          <span style="font-weight: normal;"><b><u>Description</u></b>: {{ row.description | markdownify }}</span>
          {% if row.permalink %}<span style="font-weight: normal;"><b><u>The Hornery Link</u></b>: <a href="{{ row.permalink | prepend: site.baseurl }}" link="_blank">{{ row.permalink }}</a>.</span>{% endif %}
        </li>
      {% endfor %}
    </ul>

    <h2>Installers</h2>

    <ul class="post-list">
      {% for row in site.data.github.installers.body %}
        <li class="data-meta">
          <a href = "https://github.com/fusion809/{{ row.repo }}/forks" link="_blank"><img src="https://img.shields.io/github/forks/fusion809/{{ row.repo }}.svg" style="float:right;"></a><a href = "https://github.com/fusion809/{{ row.repo}}/stargazers" link="_blank"><img src="https://img.shields.io/github/stars/fusion809/{{ row.repo }}.svg" style="float:right;"></a><a href = "https://github.com/fusion809/{{ row.repo}}/watchers" link="_blank"><img src="https://img.shields.io/github/watchers/fusion809/{{ row.repo }}.svg" style="float:right;"></a><a class="post-link" href="https://github.com/fusion809/{{ row.repo }}" link="_blank">{{ row.repo }}{% if row.maintained == "n" %} (UNMAINTAINED){% endif %}</a>
          <span style="font-weight: normal;"><b><u>Description</u></b>: {{ row.description | markdownify }}</span>
          {% if row.permalink %}<span style="font-weight: normal;"><b><u>The Hornery Link</u></b>: <a href="{{ row.permalink | prepend: site.baseurl }}" link="_blank">{{ row.permalink }}</a>.</span>{% endif %}
        </li>
      {% endfor %}
    </ul>

    <h2><a href="https://en.wikipedia.org/wiki/ISO_image" link="_blank">ISO</a>-building</h2>

    <ul class="post-list">
      {% for row in site.data.github.iso.body %}
        <li class="data-meta">
          <a href = "https://github.com/fusion809/{{ row.repo }}/forks" link="_blank"><img src="https://img.shields.io/github/forks/fusion809/{{ row.repo }}.svg" style="float:right;"></a><a href = "https://github.com/fusion809/{{ row.repo}}/stargazers" link="_blank"><img src="https://img.shields.io/github/stars/fusion809/{{ row.repo }}.svg" style="float:right;"></a><a href = "https://github.com/fusion809/{{ row.repo}}/watchers" link="_blank"><img src="https://img.shields.io/github/watchers/fusion809/{{ row.repo }}.svg" style="float:right;"></a><a class="post-link" href="https://github.com/fusion809/{{ row.repo }}" link="_blank">{{ row.repo }}{% if row.maintained == "n" %} (UNMAINTAINED){% endif %}</a>
          <span style="font-weight: normal;"><b><u>Description</u></b>: {{ row.description | markdownify }}</span>
          {% if row.permalink %}<span style="font-weight: normal;"><b><u>The Hornery Link</u></b>: <a href="{{ row.permalink | prepend: site.baseurl }}" link="_blank">{{ row.permalink }}</a>.</span>{% endif %}
        </li>
      {% endfor %}
    </ul>

    <h2>Mathematics</h2>

    <ul class="post-list">
      {% for row in site.data.github.math.body %}
        <li class="data-meta">
          <a href = "https://github.com/fusion809/{{ row.repo }}/forks" link="_blank"><img src="https://img.shields.io/github/forks/fusion809/{{ row.repo }}.svg" style="float:right;"></a><a href = "https://github.com/fusion809/{{ row.repo}}/stargazers" link="_blank"><img src="https://img.shields.io/github/stars/fusion809/{{ row.repo }}.svg" style="float:right;"></a><a href = "https://github.com/fusion809/{{ row.repo}}/watchers" link="_blank"><img src="https://img.shields.io/github/watchers/fusion809/{{ row.repo }}.svg" style="float:right;"></a><a class="post-link" href="https://github.com/fusion809/{{ row.repo }}" link="_blank">{{ row.repo }}{% if row.maintained == "n" %} (UNMAINTAINED){% endif %}</a>
          <span style="font-weight: normal;"><b><u>Description</u></b>: {{ row.description | markdownify }}</span>
          {% if row.permalink %}<span style="font-weight: normal;"><b><u>The Hornery Link</u></b>: <a href="{{ row.permalink | prepend: site.baseurl }}" link="_blank">{{ row.permalink }}</a>.</span>{% endif %}
        </li>
      {% endfor %}
    </ul>

    <h2><a href="https://en.wikipedia.org/wiki/Operating_system" link="_blank">Operating System</a>-setup</h2>

    <ul class="post-list">
      {% for row in site.data.github.os.body %}
        <li class="data-meta">
          <a href = "https://github.com/fusion809/{{ row.repo }}/forks" link="_blank"><img src="https://img.shields.io/github/forks/fusion809/{{ row.repo }}.svg" style="float:right;"></a><a href = "https://github.com/fusion809/{{ row.repo}}/stargazers" link="_blank"><img src="https://img.shields.io/github/stars/fusion809/{{ row.repo }}.svg" style="float:right;"></a><a href = "https://github.com/fusion809/{{ row.repo}}/watchers" link="_blank"><img src="https://img.shields.io/github/watchers/fusion809/{{ row.repo }}.svg" style="float:right;"></a><a class="post-link" href="https://github.com/fusion809/{{ row.repo }}" link="_blank">{{ row.repo }}{% if row.maintained == "n" %} (UNMAINTAINED){% endif %}</a>
          <span style="font-weight: normal;"><b><u>Description</u></b>: {{ row.description | markdownify }}</span>
          {% if row.permalink %}<span style="font-weight: normal;"><b><u>The Hornery Link</u></b>: <a href="{{ row.permalink | prepend: site.baseurl }}" link="_blank">{{ row.permalink }}</a>.</span>{% endif %}
        </li>
      {% endfor %}
    </ul>

    <h2>Other scripts</h2>

    <ul class="post-list">
      {% for row in site.data.github.other-scripts.body %}
        <li class="data-meta">
          <a href = "https://github.com/fusion809/{{ row.repo }}/forks" link="_blank"><img src="https://img.shields.io/github/forks/fusion809/{{ row.repo }}.svg" style="float:right;"></a><a href = "https://github.com/fusion809/{{ row.repo}}/stargazers" link="_blank"><img src="https://img.shields.io/github/stars/fusion809/{{ row.repo }}.svg" style="float:right;"></a><a href = "https://github.com/fusion809/{{ row.repo}}/watchers" link="_blank"><img src="https://img.shields.io/github/watchers/fusion809/{{ row.repo }}.svg" style="float:right;"></a><a class="post-link" href="https://github.com/fusion809/{{ row.repo }}" link="_blank">{{ row.repo }}{% if row.maintained == "n" %} (UNMAINTAINED){% endif %}</a>
          <span style="font-weight: normal;"><b><u>Description</u></b>: {{ row.description | markdownify }}</span>
          {% if row.permalink %}<span style="font-weight: normal;"><b><u>The Hornery Link</u></b>: <a href="{{ row.permalink | prepend: site.baseurl }}" link="_blank">{{ row.permalink }}</a>.</span>{% endif %}
        </li>
      {% endfor %}
    </ul>

    <h2>Packaging</h2>

    <ul class="post-list">
      {% for row in site.data.github.packaging.body %}
        <li class="data-meta">
          <a href = "https://github.com/fusion809/{{ row.repo }}/forks" link="_blank"><img src="https://img.shields.io/github/forks/fusion809/{{ row.repo }}.svg" style="float:right;"></a><a href = "https://github.com/fusion809/{{ row.repo}}/stargazers" link="_blank"><img src="https://img.shields.io/github/stars/fusion809/{{ row.repo }}.svg" style="float:right;"></a><a href = "https://github.com/fusion809/{{ row.repo}}/watchers" link="_blank"><img src="https://img.shields.io/github/watchers/fusion809/{{ row.repo }}.svg" style="float:right;"></a><a class="post-link" href="https://github.com/fusion809/{{ row.repo }}" link="_blank">{{ row.repo }}{% if row.maintained == "n" %} (UNMAINTAINED){% endif %}</a>
          <span style="font-weight: normal;"><b><u>Description</u></b>: {{ row.description | markdownify }}</span>
          {% if row.permalink %}<span style="font-weight: normal;"><b><u>The Hornery Link</u></b>: <a href="{{ row.permalink | prepend: site.baseurl }}" link="_blank">{{ row.permalink }}</a>.</span>{% endif %}
        </li>
      {% endfor %}
    </ul>
    
    <h2><a href="https://en.wikipedia.org/wiki/Packer_(software)" link="_blank">Packer</a></h2>

    <ul class="post-list">
      {% for row in site.data.github.packer.body %}
        <li class="data-meta">
          <a href = "https://github.com/fusion809/{{ row.repo }}/forks" link="_blank"><img src="https://img.shields.io/github/forks/fusion809/{{ row.repo }}.svg" style="float:right;"></a><a href = "https://github.com/fusion809/{{ row.repo}}/stargazers" link="_blank"><img src="https://img.shields.io/github/stars/fusion809/{{ row.repo }}.svg" style="float:right;"></a><a href = "https://github.com/fusion809/{{ row.repo}}/watchers" link="_blank"><img src="https://img.shields.io/github/watchers/fusion809/{{ row.repo }}.svg" style="float:right;"></a><a class="post-link" href="https://github.com/fusion809/{{ row.repo }}" link="_blank">{{ row.repo }}{% if row.maintained == "n" %} (UNMAINTAINED){% endif %}</a>
          <span style="font-weight: normal;"><b><u>Description</u></b>: {{ row.description | markdownify }}</span>
          {% if row.permalink %}<span style="font-weight: normal;"><b><u>The Hornery Link</u></b>: <a href="{{ row.permalink | prepend: site.baseurl }}" link="_blank">{{ row.permalink }}</a>.</span>{% endif %}
        </li>
      {% endfor %}
    </ul>

    <h2><a href="https://en.wikipedia.org/wiki/Unix_shell" link="_blank">Shell Profiles</a></h2>

    <ul class="post-list">
      {% for row in site.data.github.shell-profiles.body %}
        <li class="data-meta">
          <a href = "https://github.com/fusion809/{{ row.repo }}/forks" link="_blank"><img src="https://img.shields.io/github/forks/fusion809/{{ row.repo }}.svg" style="float:right;"></a><a href = "https://github.com/fusion809/{{ row.repo}}/stargazers" link="_blank"><img src="https://img.shields.io/github/stars/fusion809/{{ row.repo }}.svg" style="float:right;"></a><a href = "https://github.com/fusion809/{{ row.repo}}/watchers" link="_blank"><img src="https://img.shields.io/github/watchers/fusion809/{{ row.repo }}.svg" style="float:right;"></a><a class="post-link" href="https://github.com/fusion809/{{ row.repo }}" link="_blank">{{ row.repo }}{% if row.maintained == "n" %} (UNMAINTAINED){% endif %}</a>
          <span style="font-weight: normal;"><b><u>Description</u></b>: {{ row.description | markdownify }}</span>
          {% if row.permalink %}<span style="font-weight: normal;"><b><u>The Hornery Link</u></b>: <a href="{{ row.permalink | prepend: site.baseurl }}" link="_blank">{{ row.permalink }}</a>.</span>{% endif %}
        </li>
      {% endfor %}
    </ul>

    <h2><a href="https://en.wikipedia.org/wiki/Snappy_(package_manager)" link="_blank">Snaps</a></h2>

    <ul class="post-list">
      {% for row in site.data.github.snaps.body %}
        <li class="data-meta">
          <a href = "https://github.com/fusion809/{{ row.repo }}/forks" link="_blank"><img src="https://img.shields.io/github/forks/fusion809/{{ row.repo }}.svg" style="float:right;"></a><a href = "https://github.com/fusion809/{{ row.repo}}/stargazers" link="_blank"><img src="https://img.shields.io/github/stars/fusion809/{{ row.repo }}.svg" style="float:right;"></a><a href = "https://github.com/fusion809/{{ row.repo}}/watchers" link="_blank"><img src="https://img.shields.io/github/watchers/fusion809/{{ row.repo }}.svg" style="float:right;"></a><a class="post-link" href="https://github.com/fusion809/{{ row.repo }}" link="_blank">{{ row.repo }}{% if row.maintained == "n" %} (UNMAINTAINED){% endif %}</a>
          <span style="font-weight: normal;"><b><u>Description</u></b>: {{ row.description | markdownify }}</span>
          {% if row.permalink %}<span style="font-weight: normal;"><b><u>The Hornery Link</u></b>: <a href="{{ row.permalink | prepend: site.baseurl }}" link="_blank">{{ row.permalink }}</a>.</span>{% endif %}
        </li>
      {% endfor %}
    </ul>

    <h2>Themes</h2>

    <ul class="post-list">
      {% for row in site.data.github.themes.body %}
        <li class="data-meta">
          <a href = "https://github.com/fusion809/{{ row.repo }}/forks" link="_blank"><img src="https://img.shields.io/github/forks/fusion809/{{ row.repo }}.svg" style="float:right;"></a><a href = "https://github.com/fusion809/{{ row.repo}}/stargazers" link="_blank"><img src="https://img.shields.io/github/stars/fusion809/{{ row.repo }}.svg" style="float:right;"></a><a href = "https://github.com/fusion809/{{ row.repo}}/watchers" link="_blank"><img src="https://img.shields.io/github/watchers/fusion809/{{ row.repo }}.svg" style="float:right;"></a><a class="post-link" href="https://github.com/fusion809/{{ row.repo }}" link="_blank">{{ row.repo }}{% if row.maintained == "n" %} (UNMAINTAINED){% endif %}</a>
          <span style="font-weight: normal;"><b><u>Description</u></b>: {{ row.description | markdownify }}</span>
          {% if row.permalink %}<span style="font-weight: normal;"><b><u>The Hornery Link</u></b>: <a href="{{ row.permalink | prepend: site.baseurl }}" link="_blank">{{ row.permalink }}</a>.</span>{% endif %}
        </li>
      {% endfor %}
    </ul>

    <h2>Websites</h2>

    <ul class="post-list">
      {% for row in site.data.github.websites.body %}
        <li class="data-meta">
          <a href = "https://github.com/fusion809/{{ row.repo }}/forks" link="_blank"><img src="https://img.shields.io/github/forks/fusion809/{{ row.repo }}.svg" style="float:right;"></a><a href = "https://github.com/fusion809/{{ row.repo}}/stargazers" link="_blank"><img src="https://img.shields.io/github/stars/fusion809/{{ row.repo }}.svg" style="float:right;"></a><a href = "https://github.com/fusion809/{{ row.repo}}/watchers" link="_blank"><img src="https://img.shields.io/github/watchers/fusion809/{{ row.repo }}.svg" style="float:right;"></a><a class="post-link" href="https://github.com/fusion809/{{ row.repo }}" link="_blank">{{ row.repo }}{% if row.maintained == "n" %} (UNMAINTAINED){% endif %}</a>
          <span style="font-weight: normal;"><b><u>Description</u></b>: {{ row.description | markdownify }}</span>
          {% if row.permalink %}<span style="font-weight: normal;"><b><u>The Hornery Link</u></b>: <a href="{{ row.permalink | prepend: site.baseurl }}" link="_blank">{{ row.permalink }}</a>.</span>{% endif %}
        </li>
      {% endfor %}
    </ul>

  </div>