<footer class="site-footer">

  <div class="wrapper">

    <div style="font-size:20px;"><b>{{ site.title }}</b> <span style="font-size:12px;">(<a href="https://github.com/{{ site.github_repo }}" link="_blank">source</a>)</span></div>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li>Like <i>The Hornery</i>? Star it at <a href="https://github.com/fusion809/fusion809.github.io">GitHub</a>!</li>
          <li>Got corrections or improvement ideas? <a href="/contributing/">Tell me!</a></li>
          <li>Want notifications on new posts? Like us on <a href="https://www.facebook.com/sabayon.blog.77/">Facebook</a> or use our <a href="/feed">Atom feed</a>.</li>
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        <ul class="social-media-list">
          {% if site.github_username %}
          <li>
            {% include Layouts/icon-github.html username=site.github_username %}
          </li>
          {% endif %}

          {% if site.twitter_username %}
          <li>
            {% include Layouts/icon-twitter.html username=site.twitter_username %}
          </li>
          {% endif %}

          {% if site.facebook_username %}
          <li>
            {% include Layouts/icon-facebook.html username=site.facebook_name username2=site.facebook_username %}
          </li>
          {% endif %}

          {% if site.facebook_username2 %}
          <li>
            {% include Layouts/icon-facebook.html username=site.facebook_name2 username2=site.facebook_username2 %}
          </li>
          {% endif %}
          <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
        </ul>
      </div>

      <div class="footer-col footer-col-3">
        <p>{{ site.description }}</p><br/>
      </div>

      <div class="copyright footer-col">
        <p>{{ site.copyright }}</p>
      </div>
    </div>

  </div>

</footer>
