<footer class="site-footer1">

  <div class="wrapper">

    <div style="font-size:20px;"><b>{{ site.title }}</b></div>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li>{{ site.title }} (<a href="{{ site.source }}" link="_blank">source</a>)</li>
          <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        <ul class="social-media-list">
          {% if site.github_username %}
          <li>
            {% include Layouts/icon-github.html username=site.github_username %}
          </li>
          {% endif %}

          {% if site.twitter_username %}
          <li>
            {% include Layouts/icon-twitter.html username=site.twitter_username %}
          </li>
          {% endif %}

          {% if site.facebook_username %}
          <li>
            {% include Layouts/icon-facebook.html username=site.facebook_name username2=site.facebook_username %}
          </li>
          {% endif %}

          {% if site.facebook_username2 %}
          <li>
            {% include Layouts/icon-facebook.html username=site.facebook_name2 username2=site.facebook_username2 %}
          </li>
          {% endif %}
        </ul>
      </div>

      <div class="footer-col footer-col-3">
        <p>{{ site.description }}</p>
      </div>

      <div class="copyright footer-col">
        <p>{{ site.copyright }}</p>
      </div>
    </div>

  </div>

</footer>
