<div class="note">
<div class="note-title">Used by:</div>
<div class="div-col columns column-count column-count-3" style="-moz-column-count: 3; -webkit-column-count: 3; column-count: 3;">
<ul>
<li>{{ include.distro1 }}</li>
{% if include.distro2 %}<li>{{ include.distro2 }}</li>{% endif %}
{% if include.distro3 %}<li>{{ include.distro3 }}</li>{% endif %}
{% if include.distro4 %}<li>{{ include.distro4 }}</li>{% endif %}
{% if include.distro5 %}<li>{{ include.distro5 }}</li>{% endif %}
{% if include.distro6 %}<li>{{ include.distro6 }}</li>{% endif %}
{% if include.distro7 %}<li>{{ include.distro7 }}</li>{% endif %}
{% if include.distro8 %}<li>{{ include.distro8 }}</li>{% endif %}
{% if include.distro9 %}<li>{{ include.distro9 }}</li>{% endif %}
{% if include.distro10 %}<li>{{ include.distro10 }}</li>{% endif %}
</div></div><br/>
